# Ignore encoded videos
data/encoded_video/*.mp4
data/encoded_video/*.m4s
data/encoded_video/*.mpd

# Ignore raw videos
data/raw_video/*.mp4

# Ignore network traces
data/network_traces/

# Ignore results
results/

# Ignore Python cache
__pycache__/
*.pyc

# macOS
.DS_Store
